    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        background: #000 url('./assets/bg_puple.png');
        background-size: cover;
        background-attachment: fixed;
    }
    /* ================================
                Header
    ================================ */
    
    .titulo {
        margin-top: 30px;
        /* margin-bottom: 50px; */
    }
    
    .logo {
        width: 100px;
        height: 100px;
    }
    
    .logo h1 {
        color: #262744;
        font-weight: 600;
        position: absolute;
        z-index: 0;
        margin: 25px 0px 0px 120px;
    }
    
    .logo img {
        width: 100px;
        height: 120px;
        position: absolute;
        z-index: 0;
    }
    
    .nom {
        margin-left: 15px;
        margin-bottom: 0;
    }
    
    .menu {
        margin-top: 10px;
    }
    /* .menu {
        text-align: right;
    } */
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
    /* .menu a {
        color: #f9f9fc;
        font-size: 24px;
        font-weight: 300;
        display: inline-block;
    } */
    /* color: #1592A6; */
    /* margin: 35px 20px 40px 20px; */
    /* text-decoration: none;
    position: relative; */
    /* .menu a:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #1592A6;
    } */
    /* color: royalblue; */
    /* Navbar */
    
    nav {
        background: #0082e6;
        /* height: 80px;
        width: 100%; */
    }
    
    nav ul {
        float: right;
        margin-right: 60px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 2px;
    }
    
    nav ul li a {
        color: #f2f2f2;
        font-weight: 500;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
        /* text-transform: uppercase; */
    }
    
    a.active,
    a:hover {
        background: #1b9bff;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        color: rgb(25, 100, 185);
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    /* ================================
                Main
    ================================ */
    
    .jugador img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .btnInicio {
        margin: 0px 100px 0px 100px;
    }
    
    .btnInicio button {
        margin: 0px 0 20px 0px;
        border-radius: 30px 30px 30px 30px;
    }
    
    .btnSecundario button {
        border-radius: 30px 30px 30px 30px;
    }
    
    .smsTexto {
        margin-left: 150px;
        margin-bottom: 0;
        font-style: italic;
    }
    
    .smsTexto p {
        margin-bottom: 0;
    }
    
    #capa1 {
        position: absolute;
        z-index: -1;
    }
    
    #capa2 img {
        position: relative;
        /* z-index: -3;  */
        margin-top: 120px;
        margin-left: 0px;
        border: solid 1px #B7B7B7;
        box-sizing: content-box;
        height: 265px;
        width: 417px;
        border-radius: 0px 0px 10px 10px;
    }
    
    .contorno {
        overflow: hidden;
    }
    
    #capa2 ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate linear;
    }
    
    #capa2 li {
        width: 100%;
        list-style: none;
    }
    
    #capa2 img {
        width: 100%;
    }
    
    .contorno {
        margin-left: 89px;
        width: 77%;
    }
    
    .contorno ul li {
        margin-left: 0px;
        /* carusel espacio de imagenes */
    }
    
    @keyframes cambio {
        0% {
            margin-left: 0;
        }
        20% {
            margin-left: 0;
        }
        25% {
            margin-left: -100%;
        }
        45% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        70% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        100% {
            margin-left: -300%;
        }
    }
    /* para facebook y google */
    
    .redes-sociales {
        text-align: center;
        /* line-height: 5em; */
        /* margin-top: 0.625em; */
        margin-top: 5px;
        display: inline-block;
    }
    
    .redes-sociales a {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        text-align: center;
        line-height: 2.5em;
        display: inline-block;
        background: navy;
        color: white;
        /* margin-left: 1.25em; */
    }
    
    .redes-sociales a.youtube {
        background: hsl(1, 100%, 50%);
    }
    
    .redes-sociales a.youtube:hover {
        /* background: #c05554; */
        /* background-color: rgba(rgb(255, 0, 0), rgb(255, 0, 0), rgb(255, 0, 0), 0.5) */
        background: rgba(255, 0, 0, 0.418);
    }
    
    .redes-sociales a.twitter {
        background: #55acee;
    }
    
    .redes-sociales a.facebook {
        /* background: #3b5898; */
        background: #31487D;
    }
    
    .redes-sociales a.facebook:hover {
        /* background: #3b5898; */
        background: rgba(17, 0, 255, 0.644);
    }
    
    .o {
        margin-bottom: 0;
        text-align: center;
    }
    
    footer {
        text-align: center;
    }
    /* Media Queries */
    
    @media screen and (max-width: 1198px) {
        body {
            /* background: none; */
        }
        /* ================================
                    Header
        ================================ */
        .titulo {
            margin-top: 20px;
            /* margin-bottom: 30px; */
        }
        .logo {
            width: 80px;
            height: 80px;
        }
        .logo h1 {
            color: #262744;
            font-weight: 500;
            position: absolute;
            z-index: 0;
            margin: 25px 0px 0px 90px;
        }
        .logo img {
            width: 80px;
            height: 100px;
            position: absolute;
            z-index: 0;
        }
        /* color: #1592A6; */
        /* .menu a {
            color: #f9f9fc;
            font-size: 20px;
            font-weight: 200;
            display: inline-block;
            margin: 35px 20px 40px 20px;
            text-decoration: none;
            position: relative;
        } */
        /* ================================
                Main
    ================================ */
        .jugador img {
            margin-top: 5px;
            margin-bottom: 5px;
            width: 180px;
            height: 180px;
        }
        .btnInicio {
            margin: 0px 120px;
        }
        .btnInicio button {
            margin: 0px 0 20px 0px;
        }
        .btnSecundario {
            margin: 0 60px;
        }
        .smsTexto {
            font-size: 15px;
        }
        /* lado derecho */
        .img1 {
            height: 335px;
            width: 487px;
        }
        #capa2 img {
            position: relative;
            margin-top: 92px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 200px;
            width: 213px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 74px;
            width: 77%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
    }
    
    @media screen and (max-width: 1024px) {
        /* ================================
                    Header
        ================================ */
        body {
            background: url('./assets/bg_gradiente.png');
            background-size: cover;
            background-attachment: fixed;
        }
        .titulo {
            margin-top: 20px;
        }
        .logo {
            width: 60px;
            height: 60px;
        }
        .logo h1 {
            margin: 12px 0px 0px 90px;
        }
        .logo img {
            width: 70px;
            height: 85px;
        }
        .menu {
            margin-top: 0px;
        }
        .menu a {
            color: #262744;
        }
        /* ================================
                Main
    ================================ */
        .jugador img {
            margin-top: 5px;
            margin-bottom: 5px;
            width: 180px;
            height: 180px;
        }
        .smsTexto p {
            font-size: 15px;
            text-align: center;
            margin-right: 90px;
        }
        .btnInicio {
            margin: 0px 120px;
        }
        .btnInicio button {
            margin: 0px 0 20px 0px;
        }
        .btnSecundario {
            margin: 0 60px;
        }
        /* lado derecho */
        .img1 {
            height: 335px;
            width: 393px;
            margin-left: 15px;
        }
        #capa2 img {
            position: relative;
            margin-top: 92px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 200px;
            width: 113px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 77px;
            width: 62%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
    }
    
    @media screen and (max-width: 990px) {
        /* ================================
                    Header
        ================================ */
        .titulo {
            margin-top: 20px;
        }
        .logo h1 {
            margin: 20px 0px 0px 90px;
            font-weight: 400;
            font-size: 30px;
        }
        /* margin-top: 40px; */
        /* .menu {
            text-align: right;
        }
        .menu a {
            margin: 24px 10px;
        } */
        /* ================================
                    Main
        ================================ */
        .smsTexto {
            margin-left: 140px;
            margin-top: 15px;
        }
        .smsTexto p {
            text-align: center;
            margin-left: 0;
        }
        .btnInicio {
            margin: 0px 10px;
        }
        .btnInicio button {
            margin: 0px 0 20px 0px;
        }
        .btnSecundario {
            margin: 0px 10px;
        }
        .btnSecundario .uno {
            display: block;
            margin-bottom: 20px;
        }
        .btnSecundario .dos {
            display: block;
        }
        /* lado derecho */
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 473px;
            margin-left: 102px;
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 140px;
            width: 336px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
            /* margin-left: 70px; */
        }
        .contorno {
            margin-left: 175px;
            width: 102%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
        .fo {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        footer {
            font-weight: 600;
            color: white;
            margin-bottom: 30px;
        }
    }
    
    @media screen and (max-width: 768px) {
        /* ================================
                    Header
        ================================ */
        .logo h1 {
            margin: 20px 0px 0px 90px;
            font-weight: 400;
            font-size: 30px;
        }
        .checkbtn {
            display: block;
            margin-right: 40px;
        }
        .menu ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            /* background: #60498a; */
            background: #8A0085;
            top: 110px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 2;
        }
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        a:hover,
        a.active {
            background: none;
            color: #0082e6;
        }
        #check:checked~ul {
            left: 0;
        }
        /* margin-top: 40px; */
        /* ================================
                    Main
        ================================ */
        .smsTexto p {
            margin-top: 0px;
            margin-left: 0px;
        }
        .jugador {
            margin: 20px 0 0 0;
        }
        .btnInicio {
            margin: 20px 100px 0px 100px;
        }
        .btnSecundario {
            margin: 0px 100px;
        }
        /* lado derecho */
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 470px;
            margin-left: 0px;
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 140px;
            width: 336px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
            /* margin-left: 70px; */
        }
        .contorno {
            margin-left: 70px;
            width: 66%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
        .fo {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        footer {
            font-weight: 600;
            color: white;
        }
    }
    
    @media screen and (max-width: 500px) {
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 350px;
            margin-left: 43px;
            margin-bottom: 40px;
        }
        .smsTexto p {
            margin-right: 0px;
        }
        .smsTexto {
            margin-top: 10px;
            margin-right: 0px;
            margin-left: 30px;
            /* padding-right: 30px; */
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 100px;
            width: 56%;
        }
        .contorno ul li {
            margin-left: 0px;
        }
    }
    
    @media screen and (max-width: 404px) {
        .titulo {
            margin-left: 30px;
        }
        .checkbtn i {
            margin-right: 40px;
        }
        .smsTexto {
            margin-top: 10px;
            margin-right: 0px;
            margin-left: 30px;
            /* padding-right: 30px; */
        }
        .smsTexto p {
            margin-top: 0px;
        }
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 250px;
            margin-left: 60px;
            margin-bottom: 40px;
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 100px;
            width: 47%;
        }
    }